.container {
	height: 250px;
	width: 250px;
	background-color: white;
	border:1px solid black;
}
div:not(.container){
	height: 50px;
	width: 50px;
	margin: 5px;
	background-color: red;
	display: inline-block;
}

button {
	text-align: center;
	margin-top: 30px;
	margin-left: 100px;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
}
