.container {
	height: 500px;
	width: 500px;
	background-color: lightblue;
}
div:not(.container){
	height: 100px;
	width: 100px;
	margin: 10px;
	background-color: red;
	display: inline-block;
}
.one {

}
.two {
	
}
.gold{
	background-color: #450987;
}
